@charset "utf-8";
/* CSS Document */

h1{
	text-align: center;
	color: azure;
}
body{
	background-image: url("img/fondito.jpg");
	
}

.piepagina{
	text-align: center;
	padding-top: 500px;
	color: aliceblue;
}

